{% load static %}
<footer class="bg-primary text-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Footer Content</h5>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
          voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Social Network</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a  class="text-white">Telegram</a>
          </li>
          <li>
            <a href="#!" class="text-white">Twitter</a>
          </li>
          <li>
            <a href="#!" class="text-white">Linkdin</a>
          </li>
          <li>
            <a href="#!" class="text-white">Instagram</a>
          </li>
          <li>
            <a href="#!" class="text-white">Email</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Contact   </h5>

        <ul class="list-unstyled">
          <li>
            <small class="text-white"> Phone :</small>
          </li>
          <li>
            <small class="text-white"> Adress :</small>

          </li>
          <li>
            <small class="text-white"> Fax :</small>
          </li>
          
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright:
    <a class="text-white" href="#">javad.feyzabadi@yahoo.com</a>
  </div>
  <!-- Copyright -->
</footer>